@font-face {
	font-family: 'Pensum Display';
	src: url('/fonts/pensumdisplaybasic-bold-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Averta Std';
	src: url('/fonts/avertastd-regular-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Averta Std';
	src: url('/fonts/avertastd-regularitalic-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Averta Std';
	src: url('/fonts/avertastd-bold-webfont.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Averta Std';
	src: url('/fonts/avertastd-bolditalic-webfont.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
